/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/cover-image-dark.png);
}

.header {
    position: relative;
    display: grid;
    height: 100vh;
    min-height: 668px;
    align-items: center;
    justify-items: end;
    grid-template-rows: 1fr min-content 1fr;
    padding: var(--gap);
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__title {
    justify-self: start;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    color: var(--header-title);
    text-shadow: 4px 4px 0 var(--accent);
    line-height: 0.825;
}

.header__theme-menu-button {
    background-color: transparent;
    border-color: transparent;
    text-transform: lowercase;
    color: var(--navigation-color);
    padding: 3px 12px;
    line-height: 1;
    font-size: 18px;
}

.header__theme-menu-button_active {
    border: 1px solid var(--navigation-color);
    pointer-events: none;
}

.header__theme-menu-button:hover {
    background-color: var(--accent-40);
    cursor: pointer;
}

.header__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
}

.text-decoration {
    background-color: var(--accent);
    color: var(--header-text);
}

.header__rec {
    position: absolute;
    text-transform: uppercase;
    top: 13px;
    right: 38px;
    color: var(--accent);
    font-size: 18px;
    line-height: 1.3;
}

.header__rec::after {
    content: '';
    inline-size: 10px;
    block-size: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--navigation-color);
    background-color: var(--navigation-color);
    position: absolute;
    margin: -5px -20px 0 0;
    inset-inline-end: 0;
    inset-block-start: 50%;
}

.header::before {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-right: 1px solid var(--navigation-color);
    border-top: 1px solid var(--navigation-color);
    top: var(--gap);
    right: var(--gap);
}

.header::after {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-bottom: 1px solid var(--navigation-color);
    border-left: 1px solid var(--navigation-color);
    bottom: var(--gap);
    left: var(--gap);
}

.footer {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 668px;
    align-items: center;
    justify-content: center;
    padding: var(--gap);
}

.footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--header-title);
    text-shadow: 2px 2px 0 var(--accent);
    line-height: 0.825;
}

.footer::before {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-right: 1px solid var(--navigation-color);
    border-top: 1px solid var(--navigation-color);
    top: var(--gap);
    right: var(--gap);
}

.footer::after {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-bottom: 1px solid var(--navigation-color);
    border-left: 1px solid var(--navigation-color);
    bottom: var(--gap);
    left: var(--gap);
}

.content {
    padding: 40px 10px;
    font-size: 18px;
    line-height: 1.3;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section:not(:last-of-type) {
    margin-bottom: 50px;
}

.section__header {
    color: var(--section-header);
    font-size: 18px;
    line-height: 1.3;
}

.section__subheader {
    font-size: 18px;
    line-height: 1.3;
}

.section__articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__articles-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__articles__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__article__text {
    font-size: 18px;
    line-height: 1.3;
    color: var(--seection-article-text-color);
}

.images-grid {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.images-grid__item {
    inline-size: 100%;
}

.images-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.images-grid__header {
    font-size: 18px;
    line-height: 1.3;
}

.link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent);
}

@media (min-width: 768px) {
    :root {
        --gap: 20px;
    }
    
    .header, .footer {
        min-height: 1024px;
    }

    .header__title {
        margin-left: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);;
    }
    
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    
    .header__text {
        width: 50%;
    }
    
    .header__rec {
        margin: 10px 12px 0 0;
    }
    
    .content {
        padding: 60px 20px;
    }
    
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }
    
    .section-reasons {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
    
    .section:not(:last-of-type) {
        margin-bottom: 80px;
    }

    .section-reasons .section__header
    {
        max-width: 235px;
    }

    .images-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .images-grid__item {
        block-size: 100%;
        object-fit: cover;
        object-position: center;
    }

    .images-grid__item:nth-of-type(1) {
        grid-column: span 2;
    }
    
    .images-grid__item:nth-of-type(2) {
        grid-row: span 2;
    }

    .images-grid__item:nth-of-type(3) {
        grid-row: span 2;
    }

    .images-grid__item:nth-of-type(5) {
        grid-column: span 2;
    }
}

@media (min-width: 1024px) {
    .header, .footer {
       min-height: 768px;
    }
   
    .header__theme-menu {
        align-self: start;
        justify-self: center;
        margin-top: -3px;
    }
    
    .section {
        gap: 20px 10px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }
    
    .section-reasons {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .section-reasons .section__header
    {
        max-width: 350px;
    }

   .section__articles_reasons {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       gap: 20px;
       grid-column: 1/-1;
   }
}